:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* prise en compte automatique du mode jour ou nuit */
  color-scheme: light dark;
  /*rgba pour intégrer de la transparence */
  color: rgba(255, 255, 255, 0.87);
  
  /* couleur de fond du mode sombre*/
  background-color: #242424;

  /* permet d'améliorer le rendu du texte, et de retirer les styles italique et gras */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* couleur des liens */
a { 
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
/* légère modification lors du hover */
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center; /* permet de tout centrer avec flex */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1; /* pour réduire l'espacement entre les lignes*/
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;/* modification progressive de la bordure pour un rendu fluide lors du hover*/
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color; 
}
/* application du thème clair selon la préférence grâce à une media querie $*/
@media (prefers-color-scheme: light) {
  :root {
    color: #4A4063;
    background-color: #BFACC8;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #4A4063;
    color: #C8C6D7
  }
}

/* image du poulpe centrée horizontalement et animée */
.poulpe {
  width: 100px;
  margin: 0 auto 1rem;
  display: block;
  animation: flotter 4s ease-in-out infinite;
}

/* animation du poulpe */
@keyframes flotter {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}